@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8125rem; /* 13px */
}

.user-name {
    position: relative;
    top: 6px;
}

a {
    color: black;
}

a:hover {
    color: #dea226;
}

.card-danger.card-outline-tabs > .card-header a.active {
    border-top: 3px solid #dc3545 !important;
}

.alert h6 {
    margin: 0;
}

.alert button {
    padding-top: 8px !important;
}

/* region Buttons */
.backend-button {
    font-size: 0.8125rem;
    display: block;
    margin-left: auto;
}

.btn-outline-secondary {
    background-color: white;
}

.backend-button > i {
    font-size: 0.625rem;
    padding-right: .25rem !important;
}

.btn-outline-danger {
    background-color: white;
}
/* endregion */

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: rgba(255,255,255,.1);
    color: #fff;
}

.margin-checkbox-top {
    margin-top: 1.9rem !important;
}

.main-sidebar {
    background-color: #313A44;
}

.nav-item p {
    color: #DAE1E8;
}

.nav-icon {
    color: #DAE1E8;
    font-size: 13px !important;
}

.content-wrapper {
    background-color: #DAE1E8;
}

.nav-header {
    color: #7B7B7B;
}

.user {
    position: absolute;
    bottom: 40px;
    width: 93%;
}

.ml-header {
    margin-left: 10px;
}

#map {
    height: 515px;
    width: 100%;
}

.badge-primary {
    background: #1EA1CC;
    border-radius: 100%;
    color: white;
    border-radius: 100%;
    padding-right: 4px;
    padding-left: 4px;
    text-align: center;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

/* region Inputs */
.form-group > label {
    font-weight: 400;
    font-size: 0.8125rem; /* 13px */
}

.input-group-text {
    font-size: 0.6875rem; /* 11px */
}

.b-contain > span {
    font-size: 0.8125rem; /* 13px */
}

.custom-file-input {
    height: 21px;
}
/* endregion */

/* region UnorderedList */
.horizontal-style {
    display: table;
    width: 100%
}

.horizontal-style li {
    display: table-cell;
}

/* endregion */

/***************************************************** Table CSS ******************************************************/
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #27A745 !important;
    border-color: #27A745 !important;
    font-size: 0.625rem;
}

.pagination > li:first-child > a, .pagination > li:last-child > a {
    background-color: #dadada !important;
    font-weight: 400;
    color: black !important;
}

.pagination > li > a {
    color: #848484;
    font-size: 0.625rem;
    margin-left: 5px;
    margin-right: 5px;
}

th {
    color: #72777a;
    font-weight: bold;
    font-size: 0.8125rem;
}

td {
    font-weight: normal;
    font-size: 0.8125rem;
    color: black;
}

.cursor:hover {
    cursor: pointer;
}

.hover {
    width: 100%;
    height: 240px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0px;
    left: 0;
}

/* region Table */
.table-hover tbody tr:hover {
    background-color: #dadada !important;
    cursor: pointer;
}
/* endregion */

/* region Select 2 */
.select2-container--default .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-search--inline .select2-search__field:focus {
    border: none;
}
/* endregion */

/* region Side Bar */
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: rgba(255,255,255,.1);
    color: #fff;
}
/* endregion */

/* region Tabs */
.nav-tabs .nav-link {
    background-color: #f1f1f1;
    border: solid 1px lightgray;
    border-top: 3px solid #dee2e6 !important;
}

.nav-tabs .nav-link.disabled {
    background-color: #f1f1f1;
    border: solid 1px lightgray;
    border-top: 3px solid #dee2e6 !important;
}
/* endregion */

.border-geofence {
    border: solid 1px #00FF00;
    border-radius: 10px;
    padding-top: 8px;
    margin-bottom: 10px;
}

.text-capitalize {
    text-transform: capitalize;
}

.breadcrumb-item {
    text-transform: capitalize;
}

.sortable-product-menu {
    margin-top: 10px;
    min-height: 50px;
    background-color: #f0f0f0
}

.display-none {
    display: none;
}

.content {
    padding: 16px 40px !important;
}

.content-header {
    padding: 40px 40px 0 40px !important;
}

/* region Fieldset */
fieldset {
    min-width: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 18px;
    font-size: 19.5px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

fieldset legend {
    padding-bottom: 5px;
}

fieldset > legend {
    font-size: 1.125rem;
}
/* endregion */

/* region Image */
.imageEditable {
    width: 100px;
    height: 100px;
    border: solid 1px gray;
    margin-bottom: 10px;
    display: inline-block;
}
/*endregion */

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #dea226 !important;
    color: darkred !important;
}
